@mixin slide-mixin($background-color, $height: 100%) {
  background-color: $background-color;
  height: $height;
}

@mixin slide-section-mixin($background-color, $height: auto, $padding: 100px 0) {
  background-color: $background-color;
  height: $height;
  padding: $padding;
}