@mixin slide-mixin($background-color, $height: 100%) {
  background-color: $background-color;
  height: $height;
}

@mixin slide-section-mixin($background-color, $height: auto, $padding: 100px 0) {
  background-color: $background-color;
  height: $height;
  padding: $padding;
}


@mixin sample-sound($playColor: nth($orange-list, 3), $nameColor: nth($orange-list, 2), $fontSize: 18px, $height: 30px, $margin: 4px auto) {
  .sample-sound {
    color: $playColor;
    //color: nth($orange-list, 3);
    height: $height;
    margin: $margin;
  }
  .sample-sound > .sample-name {
    padding: 0;
    margin: 0;
    color: $nameColor;
    font-family: quicksandbold;
    font-size: $fontSize;
    display: inline-block;
    line-height: $height;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sample-sound .sample-play {
    font-size: ($fontSize * 1.7);
    line-height: $height;
  }
  .select-sound {
    font-size: ($fontSize * 1.7);
    line-height: $height;
    > div {
      height: $height;
      width: $height;
      &::before {
        font-family: icomoon;
        font-size: ($fontSize * 1.7);
      }
    }
  }
}
