{% extends "app_template.html" %}

{% load static %}

{% block app-id %}
    Kit Builder

{% endblock %}

{% block slide-navigation %}
    {% verbatim %}
    <div class="row" ng-controller="TabController as tabs">
        <div class="col-xs-4 item-holder" ng-click="tabs.tabSelect(1)">
            <a href="#soundselection" class="slide-nav-item" ng-class="{ active: tabs.isSelected(1) }" >Sound Selection</a>
        </div>
        <div class="col-xs-4 item-holder" ng-click="tabs.tabSelect(2)">
            <a href="#yourkit" class="slide-nav-item" ng-class="{ active: tabs.isSelected(2) }">Your Custom Kit</a>
        </div>
        <div class="col-xs-4 item-holder" ng-click="tabs.tabSelect(3)">
            <a href="#checkout" class="slide-nav-item" ng-class="{ active: tabs.isSelected(3) }">Checkout</a>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}





{% block content %}

    <div class="main-content" ng-controller="SlideController as slideshow">
        {% include 'KitBuilder/slide_1.html' %}
        {% include 'KitBuilder/slide_2.html' %}
        {% include 'KitBuilder/slide_3.html' %}
    </div>

{% endblock %}