{% extends "app_template.html" %}

{% load static %}

    {% block app-id %}
        Kit Builder

    {% endblock %}

    {% block slide-navigation %}
        <div class="row">
            <div class="col-xs-4 item-holder">
                <a href="#" class="slide-nav-item">Link 1</a>
            </div>
            <div class="col-xs-4 item-holder">
                <a href="#" class="slide-nav-item">Link 2</a>
            </div>
            <div class="col-xs-4 item-holder">
                <a href="#" class="slide-nav-item">Link 3</a>
            </div>
        </div>
    {% endblock %}


{# <section title=".squaredThree">#}
{#    <!-- .squaredThree -->#}
{#    <div class="squaredThree">#}
{#      <input type="checkbox" value="None" id="squaredThree" name="check" checked />#}
{#      <label for="squaredThree"></label>#}
{#    </div>#}
{#    <!-- end .squaredThree -->#}
{#  </section>#}
{#  #}

{% block content %}
    <div id="kb-slide-1" class="slide on-top">
        <div class="row">
            <section id="kb-slide-1-section-1" class="col-xs-6">
            </section>
            <section id="kb-slide-1-section-2" class="col-xs-6">
            </section>
        </div>
    </div>
{% endblock %}