<!--
- We are in the kitbuilder app.
- Also within the SlideController aliased as "slideshow
-->

{% load static %}
<div id="kb-slide-2" class="slide slideshow-starting-pos" ng-class="{ontop:slideshow.isSelected(2)}" ng-show="slideshow.isSelected(2)">
    <div class="slide-width-container">
        <div class="kit-choices">

            {% for index in section_list %}
            <section class="kb-slide-2-section">
                <h3>Kit Name</h3>
                <div class="row instrument-choice">
                    <span>Instrument Group</span>
                    <ul class="sample-list col-xs-12">
                        {% for o in li_list2 %}
                            <li class="row sample-sound">
                                <span class="col-xs-8 sample-name">Sample_Name-{{ forloop.counter }}</span>
                                <div class="col-xs-2 sample-play icon-play"></div>
                                <div class="col-xs-2 select-sound">
                                    <div class="icon-remove"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row instrument-choice">
                    <span>Instrument Group</span>
                    <ul class="sample-list col-xs-12">
                        {% for o in li_list2 %}
                            <li class="row sample-sound">
                                <span class="col-xs-8 sample-name">Sample_Name-{{ forloop.counter }}</span>
                                <div class="col-xs-2 sample-play icon-play"></div>
                                <div class="col-xs-2 select-sound">
                                    <div class="icon-remove"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row instrument-choice">
                    <span>Instrument Group</span>
                    <ul class="sample-list col-xs-12">
                        {% for o in li_list2 %}
                            <li class="row sample-sound">
                                <span class="col-xs-8 sample-name">Sample_Name-{{ forloop.counter }}</span>
                                <div class="col-xs-2 sample-play icon-play"></div>
                                <div class="col-xs-2 select-sound">
                                    <div class="icon-remove"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row instrument-choice">
                    <span>Instrument Group</span>
                    <ul class="sample-list col-xs-12">
                        {% for o in li_list2 %}
                            <li class="row sample-sound">
                                <span class="col-xs-8 sample-name">Sample_Name-{{ forloop.counter }}</span>
                                <div class="col-xs-2 sample-play icon-play"></div>
                                <div class="col-xs-2 select-sound">
                                    <div class="icon-remove"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            {% endfor %}

        </div>
    </div>
</div>
