<!--
- We are in the kitbuilder app.
- Also within the SlideController aliased as "slideshow.

- This file uses the KitFilterController
    - as well as the SampleFilterController.
-->

{% load static %}

        <div id="kb-slide-1" class="slide slideshow-starting-pos" ng-class="{ontop:slideshow.isSelected(1)}" ng-show="slideshow.isSelected(1)">
            <div class="slide-width-container">
                {% verbatim %}
                <div class="row" ng-controller="FilterController as filter">
                    <section id="kb-slide-1-section-1" class="col-xs-6">
                        <div id="KitFilter" class="kb-slide-section-container">

                            <div class="row filter-row filter-row-pocket-effect">
                                <div class="col-xs-3 filters reset-filters">
                                    <ul class="row top-menu">
                                        <li id="Reset" class="col-xs-12 menu-item">Reset</li>
                                    </ul>
                                </div>
                                <div class="col-xs-9 filters">
                                    <ul class="row top-menu">
                                        <li class="col-xs-2 menu-item menu-word">Filters:</li>
                                        <li class="col-xs-2 menu-item" ng-click="filter.showNewKits()" ng-class="{ active:filter.newKits }">New</li>
                                        <li class="col-xs-2 menu-item" ng-click="filter.showAlphabetical()" ng-class="{ active:filter.alphabetical }">A-Z</li>
                                        <li class="col-xs-3 menu-item" ng-click="filter.showOnSale()" ng-class="{ active:filter.onSale }">On Sale</li>
                                        <li class="col-xs-2 menu-item icon-tags" ng-click="filter.showTags()" ng-class="{ active:filter.tagsVisible }"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row kit-row">
                                <div class="tag-selection" ng-show="filter.tagsVisible">
                                    <ul class="row tag-list">
                                        <!-- Loop the li for Tags-->

                                            <!--
                                            <li class="col-xs-3">
                                                <div class="row">
                                                    <button id="Reset" class="col-xs-12 tag-name">All</button>
                                                </div>
                                            </li>
                                            -->
                                        <fieldset class="col-xs-4" ng-repeat="tag in filter.tags">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-8 tag-name">{{ tag }}</div>
                                                    <div class="col-xs-4 select-sound">
                                                        <!-- .squaredThree -->
                                                        <div class="squaredThree">
                                                            <input type="checkbox" id="squaredThree-{{ tag }}" name="check" value=".{{ tag }}"/>
                                                            <label for="squaredThree-{{ tag }}"></label>
                                                        </div>
                                                        <!-- end .squaredThree -->
                                                    </div>
                                                </div>
                                            </li>
                                        </fieldset>
                                    </ul>
                                </div>

                                <div id="kitmix" ng-click="filter.tagsVisible = false">
                                    <div class="col-xs-4 sound-kit mix" ng-class="kit.tags" data-myorder="$index" ng-repeat="kit in filter.kits" ng-click="filter.setCurrent(kit)">
                                        <img ng-src="{{ '/media/' + kit.image  }}" alt="{{ kit.name }}">
                                    </div>
                                    <div class="fail-message">
                                        <span>No items were found matching the selected filters. <br>
                                            Reset and Try again!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="kb-slide-1-section-2" class="col-xs-6">
                        <div class="kb-slide-section-container">

                            <div class="row filter-row filter-row-pocket-effect">
                                <form class="col-xs-4">
                                    <select id="e2" data-placeholder="Select Sample Type">
                                        <option value=""></option>
                                        <option value="1">Kick Drums</option>
                                        <option value="2">Snare Drums</option>
                                        <option value="3">Claps</option>
                                        <option value="4">Hi Hats</option>
                                        <option value="5">Percussion</option>
                                        <option value="6">Sound FX</option>
                                    </select>
                                </form>

                                <div class="col-xs-4 sample-filters">
                                    <ul class="row top-menu">
                                        <li class="col-xs-12 menu-item" ng-click="filter.showDescription()" ng-class="{active:filter.description}">Kit Description</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row selection-row">
                                <div class="kit-description" ng-show="filter.description">
                                    <p>
                                        {{ filter.currentKit.description }}
                                    </p>
                                </div>
                                <div class="col-xs-6 selected-kit-media" ng-click="filter.description = false">
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-selection">
                                            <h4>{{ filter.currentKit.name }}</h4>
                                            <img ng-src="{{ '/media/' + filter.currentKit.image }}" alt="{{ filter.currentKit.name }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-soundcloud">
                                            <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160710007&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-6 selected-kit-sounds" ng-click="filter.description = false">
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-selection">
                                            <h4>Kick Drums</h4>
                                            <ul class="sample-list">
                                                <li class="row sample-sound" ng-repeat="sample in filter.currentKit.samples">
                                                    <span class="col-xs-7 sample-name">{{ sample.name }}</span>
                                                    <div class="col-xs-2 sample-play icon-play"></div>
                                                    <div class="col-xs-3 select-sound">
                                                        <!-- .squaredThree -->
                                                        <div class="squaredThree">
                                                            <input type="checkbox" value="None" id="{{ sample.name }}" name="check" />
                                                            <label for="{{ sample.name }}"></label>
                                                        </div>
                                                        <!-- end .squaredThree -->
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                {% endverbatim %}

            </div>
        </div>
