{% load static %}

        <div id="kb-slide-1" class="slide slide-start" ng-class="{ontop:slideshow.isSelected(1)}" ng-show="slideshow.isSelected(1)">
            <div class="slide-container">
                <div class="row">
                    <section id="kb-slide-1-section-1" class="col-xs-6">
                        <div class="kb-slide-section-container" ng-controller="KitFilterController as filter">

                            <div class="row filter-row top-bar-scrolled-2">
                                <form class="col-xs-3">
                                    <select id="e1" data-placeholder="Select Genre">
                                        <option value=""></option>
                                        <option value="1">Hip Hop</option>
                                        <option value="2">Dirty South</option>
                                        <option value="3">Jersey Club</option>
                                        <option value="4">House</option>
                                        <option value="5">Electronica</option>
                                        <option value="6">Dubstep</option>
                                        <option value="7">R&amp;B</option>
                                        <option value="8">Drum N' Bass</option>
                                        <option value="9">Acoustic</option>
                                        <option value="10">Rock</option>
                                    </select>
                                </form>

                                <div class="col-xs-9 filters">
                                    <ul class="row">
                                        <li class="col-xs-2 filter-word">Filters:</li>
                                        <li class="col-xs-2" ng-click="filter.showNewKits()" ng-class="{ active:filter.newKits }">New</li>
                                        <li class="col-xs-2" ng-click="filter.showAlphabetical()" ng-class="{ active:filter.alphabetical }">A-Z</li>
                                        <li class="col-xs-3" ng-click="filter.showOnSale()" ng-class="{ active:filter.onSale }">On Sale</li>
                                        <li class="col-xs-2 icon-tags" ng-click="filter.showTags()" ng-class="{ active:filter.tags }"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row kit-row">
                                <div class="tag-selection" ng-show="filter.tags">
                                    <ul class="row tag-list">
                                        {% for tag in tags %}
                                            <li class="col-xs-3">
                                            <div class="row">
                                                <div class="col-xs-8 tag-name">{{ tag }}</div>
                                                <div class="col-xs-4 select-sound">
                                                    <!-- .squaredThree -->
                                                    <div class="squaredThree">
                                                        <input type="checkbox" value="None" id="squaredThree-tag-{{ forloop.counter }}" name="check" />
                                                        <label for="squaredThree-tag-{{ forloop.counter }}"></label>
                                                    </div>
                                                    <!-- end .squaredThree -->
                                                </div>
                                            </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/808-Essentials-Art1.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/ATTACK-OF-THE-808S-3.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Chillstrumental-Drum-Kit.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Deep-Percussion-Art.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/High-Impact-1-2-3-Bundle.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/SHD-Patient-Zero-Cover.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/808-Essentials-Art1.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/ATTACK-OF-THE-808S-3.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Chillstrumental-Drum-Kit.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Deep-Percussion-Art.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/High-Impact-1-2-3-Bundle.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/SHD-Patient-Zero-Cover.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/808-Essentials-Art1.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/ATTACK-OF-THE-808S-3.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Chillstrumental-Drum-Kit.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Deep-Percussion-Art.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/High-Impact-1-2-3-Bundle.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/SHD-Patient-Zero-Cover.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/808-Essentials-Art1.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/ATTACK-OF-THE-808S-3.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Chillstrumental-Drum-Kit.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/Deep-Percussion-Art.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/High-Impact-1-2-3-Bundle.jpg" %}" alt="Name of Kit">
                                </div>
                                <div class="col-xs-4 sound-kit">
                                    <img src="{% static "images/Drumkit Mock Images/SHD-Patient-Zero-Cover.jpg" %}" alt="Name of Kit">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="kb-slide-1-section-2" class="col-xs-6">
                        <div class="kb-slide-section-container" ng-controller="SampleFilterController as filter">

                            <div class="row filter-row top-bar-scrolled-2">
                                <form class="col-xs-4">
                                    <select id="e2" data-placeholder="Select Sample Type">
                                        <option value=""></option>
                                        <option value="1">Kick Drums</option>
                                        <option value="2">Snare Drums</option>
                                        <option value="3">Claps</option>
                                        <option value="4">Hi Hats</option>
                                        <option value="5">Percussion</option>
                                        <option value="6">Sound FX</option>
                                    </select>
                                </form>

                                <div class="col-xs-4 filters">
                                    <ul class="row">
                                        <li class="col-xs-12" ng-click="filter.showDescription()" ng-class="{active:filter.description}">Kit Description</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row selection-row">
                                <div class="kit-description" ng-show="filter.description">
                                    <p>
                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                                    </p>
                                </div>
                                <div class="col-xs-6 selected-kit-media">
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-selection">
                                            <h4>Chillstrumentals</h4>
                                            <img src="{% static "images/Drumkit Mock Images/Chillstrumental-Drum-Kit.jpg" %}" alt="Name of Kit">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-soundcloud">
                                            <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/160710007&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false"></iframe>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-6 selected-kit-sounds">
                                    <div class="row">
                                        <div class="col-xs-12 sound-kit-selection">
                                            <h4>Kick Drums</h4>
                                            <ul class="sample-list">
                                                {% for o in li_list %}
                                                <li class="row">
                                                    <span class="col-xs-8">Sample_Name-{{ forloop.counter }}</span>
                                                    <div class="col-xs-2 play-sound icon-play"></div>
                                                    <div class="col-xs-2 select-sound">
                                                        <!-- .squaredThree -->
                                                        <div class="squaredThree">
                                                            <input type="checkbox" value="None" id="squaredThree-{{ forloop.counter }}" name="check" />
                                                            <label for="squaredThree-{{ forloop.counter }}"></label>
                                                        </div>
                                                        <!-- end .squaredThree -->
                                                    </div>
                                                </li>

                                                {% endfor %}




                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
