{% load static %}
        <div id="kb-slide-2" class="slide slide-start" ng-class="{ontop:slideshow.isSelected(2)}" ng-show="slideshow.isSelected(2)">
            <div class="slide-container">
                <div class="row">
                    <section id="kb-slide-1-section-1" class="col-xs-6">
                        <div class="kb-slide-section-container">

                            <div class="row filter-row">
                                 <h2>SOME STUFF</h2>
                                <div class="col-xs-9 filters">
                                </div>
                            </div>
                            <div class="row kit-row">

                            </div>
                        </div>
                    </section>
                    <section id="kb-slide-1-section-2" class="col-xs-6">
                        <h2>SOME STUFF</h2>
                    </section>
                </div>
            </div>
        </div>
