// Every page has main content section with at least 1 slide.

.main-content {
  width: 100%;
  height: 110%;
  position: relative;
  overflow: hidden;
  margin-top: -100px; // Can make the top nav see-through
  background-color: $offwhite;
}

.slide {
  width: 100%;
  height: 100%;
  padding-top: 100px; // see through nav
//  padding-top: 50px;
  position: absolute;
  overflow-y: scroll;
  z-index: 190;
  -webkit-overflow-scrolling: touch;
  left: 0;
  right: 0;
  top: 0;
  transition: .5s all ease-in-out;
}

.slide.ng-hide {
  display: block !important;
  opacity: 0;
  transition: .5s all ease-in-out;
}

.slide-start {
  right: -200%;
}

.slide-container {
  margin: 0 auto;
  max-width: 1400px !important;
  width: 1400px;
}


.ontop {
  opacity: 1;
  right: 0;
  z-index: 200;
}


// Static Page Style Classes

.paragraph-text {
  @include p-ow-background;
}

// App Template Styling

.appnav {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.app-id {
  background-color: nth($lightblue-list, 3);
  height: auto;
  padding: 0;
  h5 {
    box-sizing: padding-box;
    @include h1-g-background;
    text-shadow: 0 0 1px white;
    width: 100%;
    text-align: center;
    line-height: 40px;
    border-bottom: 2px solid nth($lightblue-list, 5);
    border-top: 2px solid nth($lightblue-list, 5);
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
  }
}


.slide-navigation {
  height: auto;
  box-sizing: border-box;
  background-color: nth($lightblue-list, 2);
  border-left: 0px solid nth($lightblue-list, 5);
  border-bottom: 2px solid nth($lightblue-list, 5);
  border-top: 2px solid nth($lightblue-list, 5);
}

.item-holder {
  list-style: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: visible;
  height: 40px;
  padding: 0;
}

.slide-nav-item {
  position: absolute;
  display: inline-block;
  font-size: .7em;
  font-family: quicksandbold;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: nth($lightblue-list, 6);
  text-shadow: none;
  &::before {
      content: "";
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0px;
      top: 0px;
      border-style: solid;
      border-width: 0px 0 0 0;
      transition: .14s all ease-in;
  }
  &:hover {
    text-decoration: none;
    background-color: nth($lightblue-list, 5);
    color: white;
    &::before {
      background-color: transparentize(nth($lightblue-list, 6), .8);
      //border-width: 2px 0 0px 0;
    }
  }
}