.cds-button {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(0deg, nth($purple-list, 4), nth($purple-list, 3));
  color: nth($lightblue-list, 3);
  font-size: 2.5em;
  border-radius: 100px;
  text-align: center;
  line-height: 90px;
  &:hover {
    color: nth($orange-list, 6);
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}