.link-lb-background {
  color: nth($orange-list, 6);
  &:hover {
    color: nth($orange-list, 3);
    text-decoration: none;
  }
}

.link-ow-background {
  color: nth($orange-list, 3);
  &:hover {
    color: nth($lightblue-list, 3);
    text-decoration: none;
  }
}