{% extends 'base.html' %}

{% load static %}

{% block appnav %}
<div class="slide-navigation">
    {% block slide-navigation %}
        <div class="row">
            <div class="col-xs-3 item-holder">
                <a href="#" class="slide-nav-item">Link 1</a>
            </div>
            <div class="col-xs-3 item-holder">
                <a href="#" class="slide-nav-item">Link 2</a>
            </div>
            <div class="col-xs-3 item-holder">
                <a href="#" class="slide-nav-item">Link 3</a>
            </div>
            <div class="col-xs-3 item-holder">
                <a href="#" class="slide-nav-item">Link 4</a>
            </div>
        </div>

    {% endblock %}
</div>
{% endblock %}

{% block content %}

{% endblock %}