#kb-slide-1 {
  @include slide-mixin($offwhite);

  > .row {
    height: 100%;
    margin: 0;
  }
}

#kb-slide-1-section-1 {
  @include slide-section-mixin($offwhite, $height: 100%);
  .filter-row {
  }
}

#kb-slide-1-section-2 {
  @include slide-section-mixin($offwhite, $height: 100%);
}

.filter-row {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  margin-left: -15px;
  > div, > a, > form {
    height: 50px;
    margin-top: 10px;
  }
  form {
    margin: 0;
    margin-left: 0px;
    .select2-container {
      margin-left: 10px;
      margin-top: 10px;
      height: 50px;
      width: 110%;
      background-image: none;
      background-color: nth($orange-list, 2);
      .select2-choice, .select2-choice > .select2-chosen {
        background-image: none;
        background-color: nth($orange-list, 2);
        margin-top: -1px;
        border: none;
        border-radius: 0px;
        margin-top: -1px;
        padding-right: 17px;
        font-size: 16px;
        font-family: $paragraph;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  ul {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    overflow: hidden;
    :first-child {
      background-color: #ffffff;
      color: nth($purple-list, 2);
    }
    :nth-child(n + 2) {
      background-color: nth($orange-list, 2);
    }
    li {
      display: inline-block;
      list-style: none;
      color: white;
      height: 50px;
      font-size: 16px;
      font-family: $paragraph;
      text-align: center;
      white-space: nowrap;
      line-height: 50px;
      margin-right: 3px;
    }
  }
}

.kit-row {
  background-color: $offwhite;
  width: 100%;
  padding: 0%;
  height: 90%;
  overflow: auto;
  .sound-kit {
    position: relative;
    max-height: 226px;
    margin-top: 2%;
    margin-bottom: 3%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.kb-slide-section-container {
  width: 95%;
  height: 800px;
  overflow: hidden;
}

