// Every page has main content section with at least 1 slide.

.main-content {
  width: 100%;
  height: 110%;
  position: relative;
  overflow: hidden;
  margin-top: -100px; // Can make the top nav see-through
}

.slide {
  width: 100%;
  height: 100%;
  padding-top: 100px; // see through nav
  position: absolute;
  overflow: auto;
}

.on-top {
  z-index: 30;
}

.below {
  z-index: 20;
}